.location {
  padding: 1rem;

  .entry {
    @include transition-property(background);
    @include transition-duration(0.3s);
    padding: 1rem;
  }

  .detail {
    text-align: center;
  }

  .entry p {
    @include inline-block(top);
  }

  .entry img {
    width: 80px;
    margin-right: 1rem;
  }

  .entry:nth-child(odd) {
    background: #F4F4F4;
  }

  .entry.highlight {
    background: rgba(#ffcb47, 0.5);
  }
}
