// Prevent the Angular html template from being briefly displayed by the browser in its raw (uncompiled) form while your application is loading.
// https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  padding: 1.25rem;
  text-align: right;

  .button { margin: 0 }
  .button.active {
    color: #ccc;
    background: #e7e7e7;
  }
}

.content {
  padding: 0 1.25rem;
}

.errors {
  padding: 1rem;
  background-color: darkred;
  color: white;
}

.map { margin: 0 -1.25rem }

