.angular-leaflet-map {
  width: 100%;
  height: 450px;

  .leaflet-popup {
    width: 300px;
    img, p { @include inline-block(top) }
    p {
      width: 160px;
      margin: 0 0 0 15px;
    }
  }
}
