.alert, .notice {
  display: none;
  position: fixed;
  z-index: 10;
  width: 200px;
  height: 80px;
  top: 15px;
  right: 25px;
  color: #FFF;
}

.alert {
  background: #c86a4d;
}

.notice {
  background: green;
}
